body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff; /* Alice Blue */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 80%;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #003366; /* Dark Blue */
}

.form-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}

label {
    margin: 5px 0;
    font-size: 14px;
    color: #003366; /* Dark Blue */
}

input, select, button {
    width: 80%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #b0c4de; /* Light Steel Blue */
    border-radius: 4px;
    font-size: 14px;
}

button {
    background-color: #4682b4; /* Steel Blue */
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #5b9bd5; /* Lighter Steel Blue */
}

#dados-container {
    margin-top: 20px;
    text-align: left;
}

.table-container {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: #f0f8ff; /* Alice Blue */
}

th, td {
    padding: 10px;
    border: 1px solid #b0c4de; /* Light Steel Blue */
    text-align: center;
}

th {
    background-color: #e0ffff; /* Light Cyan */
    color: #003366; /* Dark Blue */
}

tbody tr:nth-child(even) {
    background-color: #f0f8ff; /* Alice Blue */
}

tbody tr:hover {
    background-color: #e6f7ff; /* Light Cyan */
}
